h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
}

p,
span,
a {
  font-family: "Work Sans", sans-serif;
}

.fixedHeaderContainer {
  background: #fff;
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.05);
}

.fixedHeaderContainer a {
  padding-top: 2px;
}

.fixedHeaderContainer header img {
  width: 100px;
  height: auto;
  margin-right: 8px;
}

.projectTitle {
  color: rgba(50, 61, 71, 0.7);
  font-weight: 600;
  font-size: 2.6em;
}

.fixedHeaderContainer header .headerTitleWithLogo {
  margin-top: -3px;
  color: rgba(50, 61, 71, 0.7);
  font-size: 1.1em;
  font-weight: normal;
}

.homeContainer {
  background: #f6f8f9;
}

@media screen and (min-width: 1024px) {
  .navPusher> :first-child {
    flex-grow: 0;
  }
}


@media (max-width: 480px) {
  .headerTitleWithLogo {
    display: block !important;
  }
}

/** HOME CARD BLOCKS */
.promoblockImage {
  max-width: 55px;
  border-radius: .3em;
}

.promoBlockTextContainer {
  display: flex;
  flex-direction: column;
}

.promoBlockColumn {
  margin: 2%;
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  max-width: 100%;
}


@media (min-width: 768px) {
  .promoBlockColumn {
    margin: 2%;
    -webkit-box-flex: 0;
    flex: 0 0 46%;
    max-width: 46%;
  }
}

.promoBlockRow {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.promoBlockSection {
  margin: 0 auto;
  max-width: 850px;
}

.promoBlock {
  display: flex;
  text-align: left;
  padding: 1.5em;
  background: #fff;
  box-shadow: 0 0 26px rgba(0, 0, 0, 0.06);
  border: 1px solid #f1f2f3;
  border-radius: .3em;
}

.promoBlockTextTitle {
  letter-spacing: 0.75px;
  font-weight: 600;
  color: #20c997;
}

.promoBlockImageContainer {
  align-items: center;
  display: flex;
  margin-right: 1.5em;
}

.promoBlockText {
  margin: 0;
  line-height: normal;
  font-size: 15px;
  color: #323d47;
}

.promoBlockButton {
  text-transform: uppercase;
  padding: 0.75em;
  height: 35px;
  margin-top: 1em;
  font-size: 14px;
  color: #20c997;
  background: #fff;
  border: 1px solid #20c997;
  display: flex;
  border-radius: .3em;
  align-items: center;
  justify-content: center;
  width: 130px;
}

.promoBlockButton:hover {
  background: #20c997;
  color: #fff;
}

/** FOOTER */
.nav-footer {
  background: #fff;
  text-align: center;
  border-top: 1px solid rgba(50, 61, 71, 0.09);
}

.nav-footer .sitemap h5,
.nav-footer .sitemap a,
.nav-footer .copyright {
  color: #323d47;
}

.nav-footer .sitemap h5,
.nav-footer .sitemap a {
  color: #323d47;
}

.nav-footer .sitemap a:hover {
  color: #20c997;
}

.nav-footer .copyright {
  font-size: 80%;
  font-weight: 400;
  opacity: 0.7;
}

.footer-logo img {
  display: block;
  max-width: 80px;
  margin: 0 auto 12px auto;
  height: auto;
}

/** MENU */
.navigationSlider .slidingNav ul li {
  color: #fff;
  background-color: #20c997;
  border-color: #20c997;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 0 6px;
}

.navigationSlider .slidingNav ul li a {
  font-weight: 600;
  color: #fff;
  letter-spacing: 1.7px;
  font-size: 11px;
}

@media only screen and (max-width: 735px) {
  .navigationSlider .slidingNav ul {
    display: none;
  }
}

.navPusher {
  padding-top: 50px;
}

@media only screen and (max-width: 1023px) {
  .tocActive .onPageNav {
    top: 98px;
  }
}